# DevContainer上で使用するユーザー名
USER_NAME=devel

# DevContainerを実行するユーザー
# 通常、wsl上で id コマンドで確認できる自身のUIDを指定する
USER_UID=1000

# DevContainerを実行するユーザーのグループ
# 通常、wsl上で id コマンドで確認できる自身のGIDを指定する
USER_GID=1000

# DooDを使用するため、DockerグループのGIDを指定する
# 通常、wsl上で id コマンドで確認できるdockerグループのGIDを指定する
DOCKER_GID=1001

# WSLのワークスペースのパス
# 基本的にスラッシュを末尾につけた形で指定する
HOST_PATH=/home/user/workspace/